plugins:
  resolvers:
  - https://palantir.bintray.com/releases/{{GroupPath}}/{{Product}}/{{Version}}/{{Product}}-{{Version}}-{{OS}}-{{Arch}}.tgz
  plugins:
  - locator:
      id: com.palantir.godel-dep-plugin:dep-plugin:1.1.0
      checksums:
        darwin-amd64: 946b0def510a7e94b46bb635a67f00c05243505e2a2ef9b0b7dab45b0437be1f
        linux-amd64: cc2729e7f25c0121f841e237238c11514ee4c1376c458a1c4997ee86de17b209
  - locator:
      id: com.palantir.godel-generate-plugin:generate-plugin:1.0.0
      checksums:
        darwin-amd64: 62d08d2baa31d295e12ec04214d0f3a2faa32a12fe8c1a45cb8ce28fa0e71eef
        linux-amd64: 8bb81d7479e4f6985ba8b93e0bf56ae67d87b0d49a92f053b2d477401cb47524
exclude:
  names:
    - "\\..+"
    - "vendor"
  paths:
    - "godel"
    - "conjure-api/conjure"
    - "conjure-go-verifier/conjure"
    - "integration_test/testgenerated/objects/api"
